<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project UST</title>
    <h1>U & UST</h1>

    <div class="header">
        <img src="static/Logo.png" width="100" height="100">
    </div>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="static/ust2.css">
</head>

<body>
    <hr>
    <div class="entry"><h2>Employee Details</Details></h2><br></div>
    <div class="detail">
        <h3>
           <span> Welcome Back, {{res1}}</span><br>
        </h3>
        <h3>
            <span>UID: {{res2}} </span><br>
        </h3>
        <h3>
            <span>COMPANY NAME: {{res3}} </span><br>
        </h3>
        <h3>
            <span>COMPANY EMAIL: {{res4}} </span><br><br>
        </h3>
    </div>
   <br><br><br><br>

    <br>
    <IMG class="diya" src="static/diya.png" style="width:100px;float:right">
    <br><br><br><br><br><br>

   <hr>
   <marquee Scrollamount="10" >vaccination mandatory for all employees working from office</marquee>
</body>
</html>


